version: '3.8'

services:
  app:
    extends:
      file: docker-compose.yml
      service: app
    ports:
      - "5000:5000"
      - "5443:5443"  # HTTPS port
    environment:
      - SSL_ENABLED=true
      - SSL_KEY_PATH=/app/ssl/key.pem
      - SSL_CERT_PATH=/app/ssl/cert.pem
    volumes:
      - ./ssl:/app/ssl:ro

  db:
    extends:
      file: docker-compose.yml
      service: db

networks:
  chat_network:
    driver: bridge

